.LiveEventsCard-col-2-os h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12.98px;
    line-height: 16px;
    color: #2F3039;
}
.LiveEventsCard-col-2-os p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.9818px;
    line-height: 16px;
    color: #2F3039;
    padding-bottom: 8px;
    border-bottom: 1px dashed #000000;
    margin-bottom: 8px;
}
.LiveEventsCard-col-2-os h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #3D2213;
    padding-bottom: 4px;
}
.LiveEventsCard-col-1-os img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    border-radius: 15px 15px 0 0;
}
.LiveEventsCard-row-os {
    padding: 8px;
    background: #FFFFFF;
    box-shadow: 0px 3.17531px 22.2271px rgba(0, 0, 0, 0.09);
    border-radius: 15px;
}
.LiveEventsCard-col-2-os {
    padding: 1rem 0;
    text-align: center;
}