.LiveEventsOnline-row-os {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 2.6%;
    padding-bottom: 2rem;
}
.LiveEventsOnline-row-os>div {
    width: 23%;
}

@media screen and (max-width:1199px) {
    .LiveEventsOnline-row-os>div {
        width: 32%;
    }
    .LiveEventsOnline-row-os {
        gap: 2rem 2%;
    }    
}
@media screen and (max-width:991px) {
    .LiveEventsOnline-row-os>div {
        width: 49%;
    }
    .LiveEventsOnline-row-os {
        gap: 2rem 2%;
    }    
}
@media screen and (max-width:767px) {
    .LiveEventsOnline-row-os>div {
        width: 100%;
    }
    .LiveEventsOnline-row-os {
        gap: 2rem 2%;
    }    
}