/* Table Style starts */

.OverviewOrderTable-section-os .table-wrapper {
    /* padding-top: 2rem; */
    /* box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2); */
}

.OverviewOrderTable-section-os .fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.OverviewOrderTable-section-os .fl-table td, .fl-table th {
    text-align: center;
    padding: 1.5rem 2rem;
}

.OverviewOrderTable-section-os .fl-table td {
    border-bottom: 1px solid #f8f8f8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16.1146px;
    line-height: 18px;
    color: #585858;
}

.OverviewOrderTable-section-os .fl-table thead th {
    background: #FAFAFA;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16.1146px;
    line-height: 18px;
    color: #585858;
}

.OverviewOrderTable-section-os .fl-table thead th:nth-child(odd) {
    /* color: #ffffff;
    background: #324960; */
}

.OverviewOrderTable-section-os .fl-table tr:nth-child(even) {
    /* background: #f8f8f8; */
}
.OverviewOrderTable-section-os .fl-table tr:last-child td {
    border: none;
}

/* Table Style ends */

.OverviewOrderTable-status-data-os.Open {
    font-size: 15.11px;
    line-height: 18px;
    color: #FFFFFF;
    background: #F6E84E;
    border-radius: 5px;
    padding: 8px;
}
.OverviewOrderTable-status-data-os.Progress {
    font-size: 15.11px;
    line-height: 18px;
    color: #FFFFFF;
    background: #46C35F;
    border-radius: 5px;
    padding: 8px;
}
.OverviewOrderTable-status-data-os.On.Hold {
    font-size: 15.11px;
    line-height: 18px;
    color: #FFFFFF;
    background: #F2A654;
    border-radius: 5px;
    padding: 8px;
}
.OverviewOrderTable-status-data-os {
    max-width: 120px;
    width: 100%;
    margin: 0 auto;
}

/* Responsive */

@media (max-width: 1199px) {
    .OverviewOrderTable-section-os .table-wrapper {
        overflow: scroll;
    }
}

@media (max-width: 767px) {
    /* .OverviewOrderTable-section-os .fl-table {
        display: block;
        width: 100%;
    }
    .OverviewOrderTable-section-os .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .OverviewOrderTable-section-os .fl-table thead,
    .OverviewOrderTable-section-os .fl-table tbody,
    .OverviewOrderTable-section-os .fl-table thead th {
        display: block;
    }
    .OverviewOrderTable-section-os .fl-table thead th:last-child {
        border-bottom: none;
    }
    .OverviewOrderTable-section-os .fl-table thead {
        float: left;
    }
    .OverviewOrderTable-section-os .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .OverviewOrderTable-section-os .fl-table td,
    .OverviewOrderTable-section-os .fl-table th {
        padding: 20px 0.625em 0.625em 0.625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .OverviewOrderTable-section-os .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .OverviewOrderTable-section-os .fl-table tbody tr {
        display: table-cell;
    }
    .OverviewOrderTable-section-os .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .OverviewOrderTable-section-os .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .OverviewOrderTable-section-os .fl-table tr td:nth-child(odd) {
        background: #f8f8f8;
        border-right: 1px solid #e6e4e4;
    }
    .OverviewOrderTable-section-os .fl-table tr td:nth-child(even) {
        border-right: 1px solid #e6e4e4;
    }
    .OverviewOrderTable-section-os .fl-table tbody td {
        display: block;
        text-align: center;
    } */
}