/* Checkbox style starts */
.AddProductPopup-checkbox-os {
    display: block;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    padding-left: 2rem;
  }
  
  .AddProductPopup-checkbox-os input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .AddProductPopup-checkbox-os .checkmark {
    position: absolute;
    top: -8px;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid #A4A4A4;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
  }
  
  .AddProductPopup-checkbox-os .checkmark:after {
    left: 7px;
    top: 1px;
    width: 6px;
    height: 14px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .AddProductPopup-checkbox-os .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .AddProductPopup-checkbox-os input:checked ~ .checkmark:after {
    display: block;
  }
  
  .AddProductPopup-checkbox-os input:checked ~ .checkmark {
    background-color: transparent;
    border: 1px solid #A4A4A4;
    border-radius: 5px;
  }
/* Checkbox style starts */

  .AddProductPopup-heading-row-os h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26.7979px;
    line-height: 40px;
    color: #000000;
}
.AddProductPopup-search-os span {
    display: flex;
}
.AddProductPopup-search-os {
    display: flex;
    align-items: center;
    gap: 4px;
    background: #FFFFFF;
    border: 2px solid #8E4B0C;
    border-radius: 11px;
    padding: 1rem;
    margin: 1.5rem;
}
.AddProductPopup-search-os input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    border: none;
    padding: 0 12px;
    width: 100%;
    background: transparent;
}
.AddProductPopup-cross-btn-os span:last-child {
    transform: rotate(-45deg) translateY(-2px);
}
.AddProductPopup-cross-btn-os span:first-child {
    transform: rotate(45deg) translateY(2px);
}
.AddProductPopup-cross-btn-os span {
    display: flex;
    width: 30px;
    height: 3px;
    background: #5C5F62;
}
.AddProductPopup-heading-row-os {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem;
  border-bottom: 1px solid #B1B1B1;
  background: #fff;
  border-radius: 11px 11px 0 0;
}
.AddProductPopup-cross-btn-os {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    cursor: pointer;
}
.AddProductPopup-product-os {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid #B1B1B1;
  /* border-bottom: 1px solid #B1B1B1; */
  padding: 1rem 1.5rem;
  /* margin-bottom: 1rem; */
}
.multiple-filters-checkbox-col-1-os {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 50%;
}
.AddProductPopup-product-image-os {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AddProductPopup-product-name-os {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #532E16;
}
.AddProductPopup-section-os {
}
.AddProductPopup-main-os {
  max-width: 1028px;
  width: 100%;
  height: auto;
  position: relative;
  background: #fff;
  border-radius: 11px;
}
.AddProductPopup-product-row-os {
  max-height: 460px;
  overflow-y: scroll;
  background: #fff;
  position: relative;
}
.AddProductPopup-product-row-os::-webkit-scrollbar-thumb {
  background-color: #898989;
}
.AddProductPopup-product-row-os::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
}
.AddProductPopup-product-row-os::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #fff;
}
.AddProductPopup-selected-btn-row-os {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.5rem;
  background: #EAEAEA;
  border-radius: 0 0 11px 11px;
}
.AddProductPopup-selected-products-os {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20.6914px;
  line-height: 25px;
  color: #532E16;
}
.AddProductPopup-product-cancel-add-btn-os button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 12px 1.5rem;
  cursor: pointer;
}
.AddProductPopup-product-cancel-btn-os {
  border: 1px solid #3C3C3C;
  border-radius: 3px;
  color: #000;
}
.AddProductPopup-product-cancel-add-btn-os button:hover {
  opacity: 0.8;
}
.AddProductPopup-product-add-btn-os {
  background: #0B0B0B;
  border: 1px solid #3C3C3C;
  border-radius: 3px;
  color: #fff;
}
.AddProductPopup-product-cancel-add-btn-os {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width:1199px) {
  .AddProductPopup-main-os {
    max-width: 90%;
    margin: 0 auto;
  }  
}